* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgba(40, 44, 52, 0.83);
}

body {
  width: 100%;

  overflow-x: hidden;
  background: rgba(40, 44, 52, 0.83);
  #__next {
    width: 100%;
    min-height: 100vh;
    background: rgba(40, 44, 52, 0.83);
  }
}

// TODO
