.container {
  max-width: 721px;
  margin: 0 auto;
  color: white;

  h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.5px;
    color: #f8f8f8;
    margin-bottom: 24px;
  }

  .infoPost {
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #bbbbbb;
    margin-bottom: 60px;

    li {
      display: flex;
      align-items: center;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #bbbbbb;

      svg {
        width: 18px;
        height: 18px;
      }
      p {
        margin-top: 3px;
        margin-left: 8px;
      }

      & + li {
        margin-left: 24px;
      }
    }
  }
  .postContent {
    h2 {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 140%;
      text-align: justify;
      color: #f8f8f8;
      margin-bottom: 30px;
    }

    p {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      text-align: justify;
      color: #d7d7d7;

      & + p {
        margin-top: 35px;
      }
    }
  }
}

.navegation {
  display: flex;
  margin-top: 60px;
  border-top: 1px solid #d7d7d7;
  padding-top: 48px;

  div {
    display: flex;
    flex-direction: column;
    flex: 1;

    h3 {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.5px;
      color: #f8f8f8;
    }

    a {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.5px;
      color: #ff57b2;
      text-decoration: none;
    }

    &.prev {
      align-items: flex-start;
    }
    &.next {
      align-items: flex-end;
    }
  }
}
.banner {
  display: flex;
  width: 100%;
  height: 25rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  object-fit: cover;
}
